<mat-toolbar>
  <mat-toolbar-row>
    <span>Add new student</span>
  </mat-toolbar-row>
</mat-toolbar>

<form style="margin-left: 1em" [formGroup]="form" #studentForm="ngForm" (submit)="submit()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" formControlName="studentId" name="studentId" required #spy>
  </mat-form-field>
  
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" formControlName="name" required #spy>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" formControlName="surname" required #spy>
        </mat-form-field>
      </td>
    </tr>
    <div>
      <button mat-raised-button class="center-button" type="button" (click)="downQuantity(student)">-</button>
      <mat-form-field class="penInput">
        <input matInput placeholder="Pen Amount" class="center-text"  formControlName="penAmount" required #spy>
      </mat-form-field>
      <button mat-raised-button layout="row" class="center-button" type="button" (click)="upQuantity(student)">+</button>
    </div>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name" formControlName="image">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>
  </div>
</form>